@layer card, form, thumbnail, accordion, detailed-list, call-to-action, subgrid;

@layer card {
  .card {
<<<<<<< HEAD
    display: grid;
    grid-template-rows: auto 1fr auto;
  

=======
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
    .header {
      background-color: inherit;
      position: relative;
      padding: 3rem 1 rem;

      .figure {
        background-color: inherit;
        position: absolute;
        right: 15%;
        bottom: 0;
        translate: 50% 50%;
        padding: 0.6rem;
        border-radius: 100vw;
      }
    }
    .header {
      .title {
        color: white;
        padding: 2rem;
        margin-top: 2rem;

        .under-title {
          display: block;
<<<<<<< HEAD
          font-size: 0.8em
        }
      
        }
      }
      
      .description-text {
        padding: 2rem;
       
      }
      .read-more {
        padding: 3rem;
        text-align: right;
        
      }
      .read-more-link {
        background-color: white;
        padding: 1rem;
        
=======
          font-size: 0.8em;
        }
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
      }
      
    }
    .bgc-white {
      background-color: white;
      width: 100%;
      height: 290px;
    }
    .description-text {
      padding: 2rem;
    }
    .read-more {
      padding: 3rem;
    }
    .col-12 col-md-10 col-lg-6 card bgc-1-60-40 {
      .offset-md-12 {
        grid-column-start: 13;
      }
    }
  }
}

@layer thumbnail {
  .thumbnail {
  }
}

@layer accordion {
  .accordion {
    .heading {
      color: black;
      background-color: hsl(var(--hue-1), 60%, 80%);
      padding: 2rem;
      font-size: 2rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border-color: hsl(var(--hue-1), 60%, 80%);
    }

    [open] {
      .heading {
        background-color: hsl(var(--hue-1), 60%, 32%);
        color: aliceblue;
      }
    }

    .block {
      border: 0.2rem;
      border-style: solid;
      border-color: hsl(var(--hue-1), 60%, 32%);
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
  }
}

@layer detailed-list {
  .text {
    padding: 2rem;
  }

  .detailed-list {
    container-type: inline-size;
    container-name: detailed-list;

<<<<<<< HEAD
   .dl {
    display: grid;
    padding: 2rem;
    text-align: left;
    
    
   @container detailed-list (width > 60ch) {
      grid-template-columns: 1.55fr 2fr;
=======
    .dl {
      display: grid;
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
      padding: 2rem;
      text-align: left;
      line-height: 2.5rem;

      @container detailed-list (width > 70ch) {
        grid-template-columns: auto 2fr;
        padding: 2rem;
      }
    }
    .dt {
      color: hsl(var(--hue-1), 60%, 32%);
      font-weight: 800;
      text-align: left;
      margin-right: 1rem;

      @container detailed-list (width < 70ch) {
        border-left: 1px solid black;
        padding-left: 1rem;
      }

      @container detailed-list (width > 70ch) {
        text-align: right;
        margin-inline-end: 2rem;
        white-space: nowrap;
      }
    }

<<<<<<< HEAD
    
   }
   .dt {
    color: hsl(var(--hue-1), 60%, 32%);
    font-weight: 800;
    text-align: left;
    margin-right: 1rem;

    @container detailed-list (width < 60ch) {
      border-left: 1px solid black;
=======
    .dd {
      margin-bottom: 1rem;
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
      padding-left: 1rem;

      @container detailed-list (width > 70ch) {
        border-left: 1px solid black;
        margin-bottom: 2rem;
      }

      @container detailed-list (width < 70ch) {
        border-left: 1px solid black;
      }
    }
<<<<<<< HEAD

    @container detailed-list (width > 60ch) {
      text-align: right;
      margin-inline-end: 2rem;
    }  
  }

  .dd {
    margin-bottom: 1rem;
    padding-left: 1rem;

    @container detailed-list (width > 60ch) {
      border-left: 1px solid black;
      margin-bottom: 2rem;

    }

    @container detailed-list (width < 60ch) {
      border-left: 1px solid black;
    }
  }
=======
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
  }
}

@layer call-to-action {
  .cta {
    display: grid;
    background-color: hsl(var(--hue-1), 60%, 32%);
    color: aliceblue;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    margin-inline: auto;
    margin-bottom: 2rem;
  }
}

@layer form {
  .main {
    container-type: inline-size;
    container-name: main;
    .form {
      .help {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      .fieldset {
        display: grid;

        @container main (min-width: 1090px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 2rem;
        }
      }

      .heading {
        font-size: 7.2rem;

        @container main (min-width: 768px) {
          font-size: 6.6rem;
          padding-bottom: 1rem;
        }
        @container main (min-width: 1090px) {
          font-size: 6rem;
          padding-bottom: 1rem;
        }
      }

      .legend {
        font-size: 3.6rem;
        padding-top: 4.5rem;
        margin-bottom: 2rem;
        color: hsl(var(--hue-1), 60%, 32%);

        @container main (min-width: 768px) {
          font-size: 3.3rem;
          padding-top: 3rem;
        }

        @container main (min-width: 1090px) {
          font-size: 2.9rem;
          padding-top: 3rem;
        }
      }

<<<<<<< HEAD
    .legend {
      font-size: 3.3rem;
      padding-top: 4.5rem;
      padding-bottom: 1rem;
      color: hsl(var(--hue-1), 60%, 32%);

      
      @container main (min-width: 768px) {
        font-size: 3rem;
        padding-top: 3rem;
      }
      
      @container main (min-width: 1090px) {
        font-size: 2.7rem;
        padding-top: 3rem;
=======
      .label {
        font-size: 2.2rem;
        font-weight: 600;
        color: hsl(var(--hue-1), 60%, 32%);
        margin-bottom: 1rem;

        @container main (min-width: 768px) {
          font-size: 2rem;
        }

        @container main (min-width: 1090px) {
          font-size: 1.8rem;
        }
      }

      .group {
        display: grid;
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
      }

<<<<<<< HEAD
    .label {
      font-size: 2rem;
      font-weight: 600;
      color: hsl(var(--hue-1), 60%, 32%);
      padding-bottom: 0.5rem;

      @container main (min-width: 768px) {
=======
      .input {
        border: 1px solid hsl(var(--hue-1), 60%, 32%);
        border-radius: 1rem;
        padding: 1.3rem;
        margin-bottom: 3rem;
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
        font-size: 2rem;

        @container main (min-width: 768px) {
          padding: 0.9rem;
          margin-bottom: 2.5rem;
        }

<<<<<<< HEAD
      @container main (min-width: 1090px) {
        font-size: 1.6rem;
      }
  
    }
    
    .group {
      display: grid;
    }

    .input {
      
      border: 1px solid hsl(var(--hue-1), 60%, 32%);
      border-radius: 1rem;
      padding: 1.3rem;
      margin-bottom: 2rem;
      font-size: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem;
        margin-bottom: 2.5rem;
      }
        
     @container main (min-width: 1090px) {
=======
        @container main (min-width: 1090px) {
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
          padding: 0.9rem;
          font-size: 1.7rem;
        }
      }

<<<<<<< HEAD
    .select {
      border: 1px solid hsl(var(--hue-1), 60%, 32%);
      border-radius: 1rem;
      padding: 1.3rem;
      margin-bottom: 2rem;
      font-size: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem;
      }
      @container main (min-width: 1090px) {
        padding: 1rem;
        font-size: 1.7rem;
      }
    }

    .buttons {
      text-align: right;
      margin-top: 5rem;

    }

    .button {
      background-color: hsl(var(--hue-1), 70%, 40%);
      color: aliceblue;
      padding: 1.1rem 2.2rem 1.1rem 2.2rem;
      border-radius: 1rem;
      font-size: 2.5rem;
      margin-left: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem 1.9rem 0.9rem 1.9rem;
        font-size: 2.2rem;
        
      }
      @container main (min-width: 1090px) {
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
=======
      .select {
        border: 1px solid hsl(var(--hue-1), 60%, 32%);
        border-radius: 1rem;
        padding: 1.3rem;
        margin-bottom: 2rem;
>>>>>>> 23474c6d4997afbe3c26fd5b7a6f3a90923445cd
        font-size: 2rem;

        @container main (min-width: 768px) {
          padding: 0.9rem;
        }
        @container main (min-width: 1090px) {
          padding: 1rem;
          font-size: 1.7rem;
        }
      }

      .buttons {
        text-align: right;
        margin-top: 5rem;
      }

      .button {
        background-color: hsl(var(--hue-1), 70%, 40%);
        color: aliceblue;
        padding: 1.1rem 2.2rem 1.1rem 2.2rem;
        border-radius: 1rem;
        font-size: 2.5rem;
        margin-left: 2rem;

        @container main (min-width: 768px) {
          padding: 0.9rem 1.9rem 0.9rem 1.9rem;
          font-size: 2.2rem;
        }
        @container main (min-width: 1090px) {
          padding: 1.2rem 2.1rem 1.2rem 2.1rem;
          font-size: 2rem;
        }
      }
    }
  }
}

@layer subgrid {
  .subgrid {
  }
}

.thumbnail-img {
  border-radius: 10px;
  border: 5px solid hsl(210, 20%, 20%);
}
.thumbnail-title {
  color: white;
  padding: 10px;
  text-align: center;
}
.thumbnail-contact {
  color: white;
  padding: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .thumbnail-img {
    border-bottom: 50px solid hsl(210, 20%, 20%);
  }
}
