@layer card, form, thumbnail, accordion, detailed-list, call-to-action, subgrid;


@layer card {
  .card {

  }
}

@layer thumbnail {
  .thumbnail {
    
  }  
}

@layer accordion {
  .accordion {

    

    .heading {
      color:black;
      background-color: hsl(var(--hue-1), 60%, 80%);
      padding: 2rem;
      font-size: 2rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border-color: hsl(var(--hue-1), 60%, 80%);
      
    }

   
    [open]
    {
      .heading{
      background-color: hsl(var(--hue-1), 60%, 32%); 
      color: aliceblue;
      
    }
    }
  
  
    .block {
    border: 0.2rem;
    border-style: solid;
    border-color: hsl(var(--hue-1), 60%, 32%);
    border-radius: 1rem;
    margin-bottom: 1rem;
   }
   

  }
}

@layer detailed-list {

  .text {
    padding: 2rem;
  }

  
  

  .detailed-list {
   container-type: inline-size;
   container-name: detailed-list;
   

   .dl {
    display: grid;
    padding: 2rem;
    text-align: left;
    
    
   @container detailed-list (width > 60ch) {
      grid-template-columns: 1.55fr 2fr;
      padding: 2rem;
      
    }

    
   }
   .dt {
    color: hsl(var(--hue-1), 60%, 32%);
    font-weight: 800;
    text-align: left;
    margin-right: 1rem;

    @container detailed-list (width < 60ch) {
      border-left: 1px solid black;
      padding-left: 1rem;
    }

    @container detailed-list (width > 60ch) {
      text-align: right;
      margin-inline-end: 2rem;
    }  
  }

  .dd {
    margin-bottom: 1rem;
    padding-left: 1rem;

    @container detailed-list (width > 60ch) {
      border-left: 1px solid black;
      margin-bottom: 2rem;

    }

    @container detailed-list (width < 60ch) {
      border-left: 1px solid black;
    }
  }
  }
}

@layer call-to-action {
  .cta {
    display: grid;
    background-color: hsl(var(--hue-1), 60%, 32%);
    color: aliceblue;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    margin-inline: auto;
    margin-bottom: 2rem;


  }
}

@layer form {
  .main {
    container-type: inline-size;
    container-name: main;
  .form {
    
    
   
    .help {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .fieldset {
      display: grid;

      @container main (min-width: 1090px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;

      }
    }

    .heading {
      font-size: 7.2rem;

      
      @container main (min-width: 768px) {
        font-size: 6.6rem;
        padding-bottom: 1rem;
      }
      @container main (min-width: 1090px) {
        font-size: 6rem;
        padding-bottom: 1rem;
      }
      
    }

    .legend {
      font-size: 3.3rem;
      padding-top: 4.5rem;
      padding-bottom: 1rem;
      color: hsl(var(--hue-1), 60%, 32%);

      
      @container main (min-width: 768px) {
        font-size: 3rem;
        padding-top: 3rem;
      }
      
      @container main (min-width: 1090px) {
        font-size: 2.7rem;
        padding-top: 3rem;
      }
    }

    .label {
      font-size: 2rem;
      font-weight: 600;
      color: hsl(var(--hue-1), 60%, 32%);
      padding-bottom: 0.5rem;

      @container main (min-width: 768px) {
        font-size: 2rem;
      }


      @container main (min-width: 1090px) {
        font-size: 1.6rem;
      }
  
    }
    
    .group {
      display: grid;
    }
    
    .input {
      
      border: 1px solid hsl(var(--hue-1), 60%, 32%);
      border-radius: 1rem;
      padding: 1.3rem;
      margin-bottom: 2rem;
      font-size: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem;
        margin-bottom: 2.5rem;
      }
        
     @container main (min-width: 1090px) {
          padding: 0.9rem;
          font-size: 1.7rem;
      }
      
      
    }

    .select {
      border: 1px solid hsl(var(--hue-1), 60%, 32%);
      border-radius: 1rem;
      padding: 1.3rem;
      margin-bottom: 2rem;
      font-size: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem;
      }
      @container main (min-width: 1090px) {
        padding: 1rem;
        font-size: 1.7rem;
      }
    }

    .buttons {
      text-align: right;
      margin-top: 5rem;

    }

    .button {
      background-color: hsl(var(--hue-1), 70%, 40%);
      color: aliceblue;
      padding: 1.1rem 2.2rem 1.1rem 2.2rem;
      border-radius: 1rem;
      font-size: 2.5rem;
      margin-left: 2rem;

      
      @container main (min-width: 768px) {
        padding: 0.9rem 1.9rem 0.9rem 1.9rem;
        font-size: 2.2rem;
        
      }
      @container main (min-width: 1090px) {
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
        font-size: 2rem;
      }


    }
    
  }
}
}

@layer subgrid {
  .subgrid {
  
  }
}